<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pedido de Compra</title>
  </head>
  <body>
    <h1>Pedido de Compra</h1>

    <h2>Pedido: <%= title %></h2>

    <h3>Itens do Pedido:</h3>
    <ul>
      <% for (let i = 0; i < itens.length; i++) { %>
      <li><%= itens[i] %></li>
      <% } %>
    </ul>

    <p>Gerente: <%= gerente %></p>
  </body>
</html>
